@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96vh;
}

main {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 0 auto;
}

.card {
    width: 100%;
}
.card img {
    padding: 20px;
    width: 100%;
    border-radius: 40px;
}
h1 {
    padding: 0px 20px;
    text-align: center;
    margin-top: -10px;
}

p {
    padding: 0px 20px 20px;
    text-align: center;
}
